.heading {
    text-align: center;
    margin-bottom: 20px;
    

  }
  
  .formstart {
    width: 300px;
    margin: 0 auto; 
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #333; /* Dark grey background color */
    box-shadow: 0px 0px 0px 5px rgba(10, 2, 9, 0.945); /* Box shadow */



  }
  
  .labelstart {
    margin-bottom: 10px;
  }
  
  .labelstart label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
  
  .inputstart {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .gender {
    width: 204px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .lab{
    color: white;
  }
  
  body{
    background-color: #33333338;
    
  }